h1 USER LIST
a(href="/users/create") New user create
form(action="/users/search" method='get')
	input(type="text" name="q" value=query)
	button Search

ul
	each user in users
		li
			span=user.name
			span &nbsp;
			a(href="/users/"+user.id) View
			